* {
  margin: 0;
}

body {
  background-color : rgb(253 , 251 , 251);
  font-family: Roboto Mono, monospace;
}

#cabecalho #titulo {
  position: fixed;
  margin-top: 0;
  background-color : rgb(79, 202, 116);
  display: flex;
  padding-left: 60%;
  color: aliceblue;
  text-align:center;
}



#minha_foto {
  float: left;
  padding: 15px;
  margin-top: 125px;
  border-radius: 50%;
}

h3 {
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(79, 202, 116);
  color: aliceblue;
}

.lado-esquerdo .lado-direito {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 100px;
  font-weight: 200px;
  

}

h2 {
  font-size: 25px;
  padding-top: 150px;
  background-color: rgb(79, 202, 116);
  color:aliceblue;

}

#licoes_aprendidas #licoes_a_aprender {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between
  
}

