* {
  margin: 0;
  padding: 0;
  line-height: 200%;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Quicksand, sans-serif;
  color: rgb(78, 77, 77);
}

table {
  width: 100%;
}

aside {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

th {
  background-color: rgb(47, 101, 218);
  color: rgb(250, 244, 244);
  padding: 10px 15px 10px 35px;
}

td {
  background-color: rgb(238, 241, 234);
  padding: 10px 15px 10px 35px;
}

header {
  background-color: rgb(47, 101, 218);
  color: rgb(238, 241, 234);
  height: 150px;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 20px;
}

h3 {
  padding-left: 30px;
  padding-bottom: 30px;
}

nav {
  font-weight: 700;
  padding-left: 20px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.lado-esquerdo {
  width: 60%;
  margin: 40px 10px 15px 45px;
  display: inline-block;
  text-align: justify;
  padding: 10px 5px 5px 10px;
  border-style: outset;
}

.lado-direito { 
  width: 26.5%;
  display: inline-block;
  text-align: justify;
  border-style: outset;
  line-height: 150%;
}


#minha_foto {
  width: 100px;
  height: 100px;
  border-radius: 20%;
}

#rodape {
  color: rgb(143, 142, 142);
  font-style: italic;
  font-size: 15px;
  padding: 13px 5px 5px 20px;
}
#titulo {
  text-align: center;
}
